@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "omyu_pretty";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/omyu_pretty.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

html {
  font-family: "GmarketSansMedium";
}

body {
  /* color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb)); */
  /* background-color: whitesmoke; */
  width: 100%;
  height: 100%;
  font-family: "GmarketSansMedium", "omyu_pretty";
  overflow-x: hidden;
}

.our_solution_category {
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
}
.our_solution_category .solution_cards_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.solution_cards_box .solution_card {
  display: flex;
  flex: 0 50%;
  background: #fff;
  box-shadow: 0 2px 4px 0 rgba(136, 144, 195, 0.2), 0 5px 15px 0 rgba(37, 44, 97, 0.15);
  border-radius: 15px;
  margin: 8px;
  padding: 10px 15px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  min-height: 265px;
  width: 250px;
  transition: 0.7s;
  justify-content: center;
  align-items: center;
}

.solution_cards_box:nth-child(1) .solution_card:nth-child(1):hover {
  background: red;
  color: #fff;
  transform: scale(1.2);
  z-index: 9;
}

.solution_cards_box:nth-child(1) .solution_card:nth-child(2):hover {
  background: yellow;
  color: #fff;
  transform: scale(1.2);
  z-index: 9;
}

.solution_cards_box:nth-child(2) .solution_card:nth-child(1):hover {
  background: orange;
  color: #fff;
  transform: scale(1.2);
  z-index: 9;
}

.solution_cards_box:nth-child(2) .solution_card:nth-child(2):hover {
  background: green;
  color: #fff;
  transform: scale(1.2);
  z-index: 9;
}

.solution_cards_box .solution_card:before {
  content: "";
  position: absolute;
  background: rgb(85 108 214 / 5%);
  width: 170px;
  height: 400px;
  z-index: -1;
  transform: rotate(42deg);
  right: -56px;
  top: -23px;
  border-radius: 35px;
}

.hover_color_bubble {
  position: absolute;
  background: rgb(54 81 207 / 15%);
  width: 100rem;
  height: 100rem;
  left: 0;
  right: 0;
  z-index: -1;
  top: 16rem;
  border-radius: 50%;
  transform: rotate(-36deg);
  left: -18rem;
  transition: 0.7s;
}

.solution_cards_box .solution_card:hover .hover_color_bubble {
  top: 0rem;
}
